<%= form_with model: @group do |f| %>
  <div class="form-group title">
    <%= f.label :group_name, 'タイトル' %>
    <%= f.text_field :group_name, class: 'form-control', placeholder: 'タイトルを入力してください' %>
  </div>
  <div class="form-group">
    <%= f.label :first_category, 'カテゴリ' %>
    <%= f.select :first_category, ['読書', '勉強(高校)', '勉強(大学・一般)', '勉強(語学)', 'スキルアップ(資格)', 'プログラミング'], include_blank: '選択してください', class: 'form-control'%>
  </div>

  <div class="form-group">
    <%= f.label :group_description, '説明' %>
    <%= f.text_area :group_description, class: 'form-control', placeholder: 'タイトルを入力してください' %>
  </div>
    <%= f.hidden_field :default_img_ptn %>

<div class="row btn clearfix">
  <div class="col-lg-2 col-4 float-left image">
    <img class="c-img", src="/assets/reading.jpg">
  </div>
  <div class="col-lg-2 col-4 float-left image">
    <img class="c-img", src="/assets/studying.jpg">
  </div>
  <div class="col-lg-2 col-4 float-left image">
    <img class="c-img", src="/assets/programing.jpg">
  </div>
  <div class="col-lg-2 col-4 float-left image">
    <img class="c-img", src="/assets/plant.jpg">
  </div>
  <div class="col-lg-2 col-4 float-left image">
    <img class="c-img", src="/assets/landscape.jpg">
  </div>
  <div class="col-lg-2 col-4 float-left image">
    <img class="c-img", src="/assets/landscape.jpg">
  </div>
</div>

<%= f.submit '確定', class: 'button' %>
<% end %>

<%= javascript_pack_tag 'groups/new' %>
<%= stylesheet_pack_tag 'groups/new' %>