<div class="row entire_wrapper">
  <div class="col-sm-12">
    <div class="title_wrapper">
      <div class="title">
        <h3><%= @group.group_name %></h3>
        <span class="badge badge-secondary"><%= @group.first_category %></span>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="image_wrapper">
      <% if @group.image? %>
        <%= image_tag @group.image.url %>
      <% else %>
        <% case @group.default_img_ptn 
          when 0 %>
            <img src="/assets/reading.jpg">
          <% when 1 %>
            <img src="/assets/studying.jpg">
          <% when 2 %>
            <img src="/assets/language.jpeg">
          <% when 3 %>
            <img src="/assets/programing.jpg">
          <% when 4 %>
            <img src="/assets/plant.jpg">
          <% when 5 %>
            <img src="/assets/landscape.jpg">
          <% end %>
      <% end %>
    </div>
  </div>

  <div class="col-lg-8 col-md-8 col-sm-12 col-12">
    <div class="wrapper">
      <div class="description">
        <h1><%= @group.group_description %></h1>
      </div>
      <div class="other-info">
          <% if @group.user.avatar? %>
            <%= image_tag @group.user.avatar.url(:icon) %>
          <% else %>
            <img src="/assets/defalut_avatar.png">
          <% end %>
          <%= @group.user.username %>
          <%= @group.updated_at.strftime("%Y/%-m/%-d %H:%M") %>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 col-12">
    <p class="text-center font-weight-bold">-募集条件-</p>
    <p class="font-weight-bold">■人数</p>
    <p><%= @group.target_number %>名</p>
    <p class="font-weight-bold">■年齢</p>
    <p><%= @group.target_age %></p>
    <p class="font-weight-bold">■性別</p>
    <p><%= @group.target_sex %></p>
    <p class="font-weight-bold">■希望時間帯</p>
    <p><%= @group.hope_time %></p>
    <% if @group.user == current_user %>
      <div class="manage-menu w-100"><%= link_to '管理者メニューへ', edit_group_path, class: 'btn btn-outline-secondary' %></div>
    <% else %>
    <div class="join-btn">
      <%= render 'participates/join_button', group: @group %>
    </div>
    <% end %>
  </div>
  <div class="col-12">
    <p>コメント</p>
  </div>
</div>
<%= javascript_pack_tag 'groups/show' %>
<%= stylesheet_pack_tag 'groups/show' %>