
<%= form_with(model: user, local: true) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  <div class="form-wrapper">
    <div class="row">
      <div class="col-sm-4 col-12">
        <p><%= f.label :username, '■ユーザーネーム' %> <span class="text-danger">*</span></p>
      </div>
      <div class="col-sm-8 col-12">
        <p><%= f.text_field :username, class: 'form-control', placeholder: '創世太郎(例)' %></p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 col-12">
        <p><%= f.label :email, '■メールアドレス' %> <span class="text-danger">*</span></p>
      </div>
      <div class="col-sm-8 col-12">
        <p><%= f.email_field :email, class: 'form-control', placeholder: 'sosei@taro.com(例)' %></p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 col-12">
        <p><%= f.label :password, '■パスワード' %> <span class="text-danger">*</span></p>
      </div>
      <div class="col-sm-8 col-12">
        <p><%= f.password_field :password, class: 'form-control', placeholder: 'パスワードを入力してください' %></p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 col-12">
        <p><%= f.label :password_confirmation, '■パスワード(確認用)' %> <span class="text-danger">*</span></p>
      </div>
      <div class="col-sm-8 col-12">
        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'パスワードを再入力してください' %></p>
      </div>
    </div>

    <% if logged_in? %>
        <%= f.label :avatar, '■プロフィールアイコン' %>
        <p><%= f.file_field :avatar %></p>
        <%= f.check_box :remove_avatar %> デフォルトのアイコンに戻す
      
      <%= f.submit '更新', class: 'button' %>
    <% else %>
      <%= f.submit '登録', class: 'button' %>
    <% end %>
  </div>
<% end %>
<%= stylesheet_pack_tag 'users/new' %>
<%= javascript_pack_tag 'users/new' %>