<div class="tabs mt-2">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <% if current_page?(current_user) %>
        <%= link_to '投稿した本紹介', current_user, class: 'nav-link active clicked' %>
      <% else %>
        <%= link_to '投稿した本紹介', current_user, class: 'nav-link' %>
      <% end %>
    </li>

    <li class="nav-item">
      <% if current_page?(like_bookposts_path) %>
        <%= link_to 'いいねした本紹介', like_bookposts_path, class: 'nav-link active' %>
      <% else %>
        <%= link_to 'いいねした本紹介', like_bookposts_path, class: 'nav-link' %>
      <% end %>
    </li>

    <li class="nav-item">
      <% if current_page?(mygroups_path) %>
        <%= link_to '作成したグループ', mygroups_path, class: 'nav-link active' %>
      <% else %>
        <%= link_to '作成したグループ', mygroups_path, class: 'nav-link' %>
      <% end %>
        
    </li>
    <li class="nav-item">
      <% if current_page?(joining_groups_path) %>
        <%= link_to '参加しているグループ', joining_groups_path, class: 'nav-link active' %>
      <% else %>
        <%= link_to '参加しているグループ', joining_groups_path, class: 'nav-link' %>
      <% end %>
    </li>
    
  </ul>
</div>

<ul class="nav nav-tabs for-smartphone-dropdown">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown"
       href="#" role="button" aria-haspopup="true" aria-expanded="false">絞り込み:
       <% if current_page?(current_user) %>
       投稿した本紹介
       <% elsif current_page?(like_bookposts_path) %>
       いいねした本紹介
       
       <% elsif current_page?(mygroups_path) %>
       作成したグループ
       <% elsif current_page?(joining_groups_path) %>
       参加しているグループ
       <% end %></a>
       
    <div class="dropdown-menu">
      <%= link_to '投稿した本紹介', current_user, class: 'dropdown-item' %>
      <%= link_to 'いいねした本紹介', like_bookposts_path, class: 'dropdown-item' %>
      <%= link_to '作成したグループ', mygroups_path, class: 'dropdown-item' %>
      <%= link_to '参加しているグループ', joining_groups_path, class: 'dropdown-item' %>
    </div>
  </li>
</ul>