<% if @bookposts.any? %>
    <div class="row">
      <% @bookposts.each do |bookpost| %>
        <div class="col-lg-4 col-sm-6">
          <div class="contents-wrapper">
            <%= link_to '', bookpost %>
            <div class="contents">
              <div class="content-title">
                <%= bookpost.title %>
              </div>
              <p><span class="badge badge-secondary"><%= bookpost.category %></span></p>
              <% if bookpost.bookimage? %>
                <%= image_tag bookpost.bookimage.url(:thumb) %>
              <% else %>
                <img src="/assets/No_image.png">
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <%= paginate @bookposts %>
<% else %>
  <p>まだ投稿がありません</p>
<% end %>

<%= javascript_pack_tag 'bookposts/index' %>
<%= stylesheet_pack_tag 'bookposts/index' %>
