<div class="row entire_wrapper">
  <div class="col-sm-12">
    <div class="title_wrapper">
      <div class="title">
        <h3><%= @bookpost.title %></h3>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12 col-12">
  
    <div class="image_wrapper">
      <% if @bookpost.bookimage? %>
        <%= image_tag @bookpost.bookimage.url %>
      <% else %>
        <img src="/assets/No_image.png">
      <% end %>
    </div>
    <div class="row icons">
      <div class="col-8">
        <span class="badge badge-secondary"><%= @bookpost.category %></span>
      </div>
      <div class="col-4 icon">
        <% unless @bookpost.user == current_user %>
          <%# <%= render 'booklikes/booklike', class: 'good-btn' %> 
          <div class="good-btn">
            <%= render 'booklikes/booklike', bookpost: @bookpost %>
          </div>
        <% end %>
        <% if @bookpost.user == current_user %>
          <%= link_to '', edit_bookpost_path, class: 'fas fa-edit' %>
          <%= link_to '',@bookpost, method: :delete, data:{confirm: '本当に削除してよろしいですか?'}, class: 'fas fa-trash-alt' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-lg-8 col-md-6 col-sm-12">
    <div class="wrapper">
      <div class="description">
        <h1><%= @bookpost.description %></h1>
      </div>
    </div>
      <div class="row other-info">
        <div class="col-6 other-info-left">
          <% if @bookpost.user.avatar? %>
            <%= image_tag @bookpost.user.avatar.url(:icon) %>
          <% else %>
            <img src="/assets/defalut_avatar.png">
          <% end %>
            <%=@bookpost.user.username %>
         </div>
        <div class="col-6 other-info-right">
          <%= @bookpost.updated_at.strftime("%Y/%-m/%-d %H:%M") %>
        </div>
      </div>
  </div>
</div>
<h4><span><i class="far fa-comments"></i></span>コメント</h4>
<div class="row">
  <div class="col-lg-8 col-md-12">
    <%= render 'bookcomments/bookcomment_form', bookpost: @bookpost %>
  </div>
</div>
<div class="col-lg-8 col-md-12 bookcomments">
  <%= render 'bookcomments/bookcomments', bookcomments: @bookcomments %>
</div>
<%= javascript_pack_tag 'bookposts/show' %>
<%= stylesheet_pack_tag 'bookposts/show' %>